Repository Truonghai2/BaultPHP: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-php.js, node scripts/lint-js.js

.lintstagedrc.json:

{
  "*.php": ["node scripts/lint-php.js"],
  "*.{js,css,json,md}": ["node scripts/lint-js.js"]
}

fix autoload
  composer.json
Due: node scripts/lint-js.js

update CI/CD workflow with comprehensive features
  .github/workflows/deploy.yml
  src/Core/Contracts/Http/Kernel.php
Due: node scripts/lint-php.js

fix performance
  Modules/Admin/Http/Controllers/ModuleController.php
  Modules/Cms/Domain/Services/PageBlockRenderer.php
  Modules/Cms/Infrastructure/Models/Page.php
  Modules/Cms/Infrastructure/Models/PageBlock.php
  Modules/User/Domain/Entities/OAuth/ClientEntity.php
  Modules/User/Domain/Services/AccessControlService.php
  Modules/User/Http/Controllers/OAuthController.php
  Modules/User/Infrastructure/Repositories/OAuth/AccessTokenRepository.php
  Modules/User/Infrastructure/Repositories/OAuth/ClientRepository.php
  Modules/User/Infrastructure/Repositories/OAuth/ScopeRepository.php
  Modules/User/Providers/OAuth2ServiceProvider.php
  src/Core/Auth/EloquentUserProvider.php
  src/Core/Auth/SessionGuard.php
  src/Core/Auth/UserProviderManager.php
  src/Core/Debug/DebugManager.php
  src/Core/Routing/Router.php
  src/Core/Server/RequestLifecycle.php
  src/Core/Server/SwooleServer.php
  src/Core/Services/ModuleInstallerService.php
  src/Core/helpers.php
  src/Http/Kernel.php
Due: node scripts/lint-php.js

fix CICD
  .github/workflows/deploy.yml
Due: none

fix tests
  composer.json
  tests/TestCase.php
Due: node scripts/lint-php.js, node scripts/lint-js.js

fix tests
  Modules/User/Infrastructure/Models/User.php
  database/factories/UserFactory.php
  tests/TestCases.php
  tests/TestResponse.php
  tests/Unit/ORM/QueryBuilderTest.php
Due: node scripts/lint-php.js

fix cICD
  .github/workflows/deploy.yml
  Modules/User/Infrastructure/Models/OAuth/AccessToken.php
  Modules/User/Infrastructure/Models/OAuth/AuthCode.php
  Modules/User/Infrastructure/Models/OAuth/RefreshToken.php
  Modules/User/Infrastructure/Models/OAuth/Scope.php
  database/Seeders/DefaultBlocksSeeder.php
Due: node scripts/lint-php.js

fix
  .github/workflows/deploy.yml
  Modules/Cms/Providers/CmsServiceProvider.php
  composer.json
  composer.lock
  src/Http/Cors/CorsOriginsManager.php
Due: node scripts/lint-php.js, node scripts/lint-js.js

add comment
  .github/workflows/deploy.yml
  Modules/Admin/Application/Commands/Module/DisableModuleCommand.php
  Modules/Admin/Application/Commands/Module/EnableModuleCommand.php
  Modules/Admin/Application/Commands/Module/InstallModuleCommand.php
  Modules/Admin/Application/Commands/Module/UpdateModuleSettingCommand.php
  Modules/Cms/Application/Commands/AddBlockToPageCommand.php
  Modules/Cms/Application/Commands/Block/AddBlockToPageCommand.php
  Modules/Cms/Application/Commands/Block/DeleteBlockCommand.php
  Modules/Cms/Application/Commands/Block/UpdateBlockCommand.php
  Modules/Cms/Application/Commands/Block/UpdateBlockOrderCommand.php
  Modules/Cms/Application/Commands/DeleteBlockCommand.php
  Modules/Cms/Application/Commands/DuplicateBlockCommand.php
  Modules/Cms/Application/Commands/Page/CreatePageCommand.php
  Modules/Cms/Application/Commands/Page/DeletePageCommand.php
  Modules/Cms/Application/Commands/Page/PublishPageCommand.php
  Modules/Cms/Application/Commands/Page/UpdatePageCommand.php
  Modules/Cms/Application/Commands/RestoreBlockCommand.php
  Modules/Cms/Application/Commands/UpdateBlockContentCommand.php
  Modules/Cms/Application/Commands/UpdateBlockOrderCommand.php
  Modules/Cms/Application/Commands/UpdatePageContentCommand.php
  Modules/User/Application/Commands/Auth/LoginCommand.php
  Modules/User/Application/Commands/Auth/LogoutCommand.php
  Modules/User/Application/Commands/Auth/RegisterCommand.php
  Modules/User/Application/Commands/Permission/CreatePermissionCommand.php
  Modules/User/Application/Commands/Permission/DeletePermissionCommand.php
  Modules/User/Application/Commands/Permission/UpdatePermissionCommand.php
  Modules/User/Application/Commands/Role/AssignPermissionsCommand.php
  Modules/User/Application/Commands/Role/CreateRoleCommand.php
  Modules/User/Application/Commands/Role/DeleteRoleCommand.php
  Modules/User/Application/Commands/Role/UpdateRoleCommand.php
  Modules/User/Application/Commands/User/AssignRoleCommand.php
  Modules/User/Application/Commands/User/CreateUserCommand.php
  Modules/User/Application/Commands/User/DeleteUserCommand.php
  Modules/User/Application/Commands/User/RemoveRoleCommand.php
  Modules/User/Application/Commands/User/UpdateUserCommand.php
  composer.json
  phpstan-baseline.neon
  src/Core/ORM/Model.php
Due: node scripts/lint-php.js, node scripts/lint-js.js

fix performance CQRS system
  src/Core/CQRS/Command/BaseCommandHandler.php
  src/Core/CQRS/Command/CommandHandler.php
  src/Core/CQRS/Command/Implementation/CommandBusWithMiddleware.php
  src/Core/CQRS/Command/Implementation/SimpleCommandBus.php
  src/Core/CQRS/Contracts/CommandHandlerInterface.php
  src/Core/CQRS/Contracts/QueryHandlerInterface.php
  src/Core/CQRS/Exceptions/HandlerNotFoundException.php
  src/Core/CQRS/HandlerLocator.php
  src/Core/CQRS/Query/BaseQueryHandler.php
  src/Core/CQRS/Query/Implementation/QueryBusWithMiddleware.php
  src/Core/CQRS/Query/Implementation/SimpleQueryBus.php
  src/Core/CQRS/Query/QueryHandler.php
Due: node scripts/lint-php.js

fix CQSR in modules
  Modules/Admin/Application/CommandHandlers/Module/DisableModuleHandler.php
  Modules/Admin/Application/CommandHandlers/Module/EnableModuleHandler.php
  Modules/Admin/Application/CommandHandlers/Module/InstallModuleHandler.php
  Modules/Admin/Application/CommandHandlers/Module/UpdateModuleSettingHandler.php
  Modules/Admin/Application/Queries/Module/GetEnabledModulesQuery.php
  Modules/Admin/Application/Queries/Module/GetModuleHistoryQuery.php
  Modules/Admin/Application/Queries/Module/GetModuleSettingsQuery.php
  Modules/Cms/Application/Queries/Block/GetBlockByIdQuery.php
  Modules/Cms/Application/Queries/Block/GetPageBlocksQuery.php
  Modules/Cms/Application/Queries/Page/GetPageByIdQuery.php
  Modules/Cms/Application/Queries/Page/GetPageBySlugQuery.php
  Modules/Cms/Application/Queries/Page/GetPagesQuery.php
  Modules/User/Application/CommandHandlers/Permission/CreatePermissionHandler.php
  Modules/User/Application/CommandHandlers/Permission/DeletePermissionHandler.php
  Modules/User/Application/CommandHandlers/Role/AssignPermissionsHandler.php
  Modules/User/Application/CommandHandlers/Role/CreateRoleHandler.php
  Modules/User/Application/CommandHandlers/Role/DeleteRoleHandler.php
  Modules/User/Application/CommandHandlers/Role/UpdateRoleHandler.php
  Modules/User/Application/CommandHandlers/User/DeleteUserHandler.php
  Modules/User/Application/Queries/Permission/GetPermissionByIdQuery.php
  Modules/User/Application/Queries/Permission/GetPermissionsQuery.php
  Modules/User/Application/Queries/Role/GetRoleByIdQuery.php
  Modules/User/Application/Queries/Role/GetRolePermissionsQuery.php
  Modules/User/Application/Queries/Role/GetRolesQuery.php
  Modules/User/Application/Queries/User/GetUserByEmailQuery.php
  Modules/User/Application/Queries/User/GetUserByIdQuery.php
  Modules/User/Application/Queries/User/GetUserRolesQuery.php
  Modules/User/Application/Queries/User/GetUsersQuery.php
Due: node scripts/lint-php.js

add system sync module to db
  Modules/Admin/Application/CommandHandlers/Module/EnableModuleHandler.php
  Modules/Admin/Application/CommandHandlers/Module/InstallModuleHandler.php
  Modules/User/Http/Controllers/Admin/RoleController.php
  src/Core/Console/Commands/ModuleSyncCommand.php
  src/Core/Module/ModuleSyncService.php
Due: node scripts/lint-php.js

fix cicd
  .github/workflows/deploy.yml
  .php-cs-fixer.dist.php
  Dockerfile
  src/Core/Realtime/SSEStream.php
  src/Core/Realtime/WebRTCManager.php
Due: node scripts/lint-php.js

fix cicd
  .php-cs-fixer.cache
Due: none

chore: update framework version to v1.0.4 - infrastructure and core upgrades
  capture_git.bat
  do_commit.bat
Due: none

fix: remove duplicate FilesystemWatcher path casing; lock mongodb/mongodb
  composer.lock
  src/Core/FileSystem/FileSystemWatcher.php
Due: node scripts/lint-php.js

fix: assume ext-mongodb in composer platform for lock install without driver
  composer.json
  composer.lock
Due: node scripts/lint-js.js
